@import 'unpoly';
@import '@docsearch/css';

/* Gray colors */
@import '@radix-ui/colors/sage.css';
@import '@radix-ui/colors/sage-alpha.css';
@import '@radix-ui/colors/sage-dark.css';
@import '@radix-ui/colors/sage-dark-alpha.css';

/* Accent colors */
@import '@radix-ui/colors/teal.css';
@import '@radix-ui/colors/teal-alpha.css';
@import '@radix-ui/colors/teal-dark.css';
@import '@radix-ui/colors/teal-dark-alpha.css';

/* Interface colors */
@import '@radix-ui/colors/orange-alpha.css';
@import '@radix-ui/colors/iris-alpha.css';
@import '@radix-ui/colors/orange-dark-alpha.css';
@import '@radix-ui/colors/iris-dark-alpha.css';

@import '@dimerapp/docs-theme/styles';

:root {
  --logo-width: 100px;
  --mobile-logo-width: 30px;
  --font-mono: 'Roboto Mono';
}

:root {
  --neutral-gray-1: var(--sage-1);
  --neutral-gray-2: var(--sage-2);
  --neutral-gray-3: var(--sage-3);
  --neutral-gray-4: var(--sage-4);
  --neutral-gray-5: var(--sage-5);
  --neutral-gray-6: var(--sage-6);
  --neutral-gray-7: var(--sage-7);
  --neutral-gray-8: var(--sage-8);
  --neutral-gray-9: var(--sage-9);
  --neutral-gray-10: var(--sage-10);
  --neutral-gray-11: var(--sage-11);
  --neutral-gray-12: var(--sage-12);

  --neutral-gray-a1: var(--sage-a1);
  --neutral-gray-a2: var(--sage-a2);
  --neutral-gray-a3: var(--sage-a3);
  --neutral-gray-a4: var(--sage-a4);
  --neutral-gray-a5: var(--sage-a5);
  --neutral-gray-a6: var(--sage-a6);
  --neutral-gray-a7: var(--sage-a7);
  --neutral-gray-a8: var(--sage-a8);
  --neutral-gray-a9: var(--sage-a9);
  --neutral-gray-a10: var(--sage-a10);
  --neutral-gray-a11: var(--sage-a11);
  --neutral-gray-a12: var(--sage-a12);

  --accent-1: var(--teal-1);
  --accent-2: var(--teal-2);
  --accent-3: var(--teal-3);
  --accent-4: var(--teal-4);
  --accent-5: var(--teal-5);
  --accent-6: var(--teal-6);
  --accent-7: var(--teal-7);
  --accent-8: var(--teal-8);
  --accent-9: var(--teal-9);
  --accent-10: var(--teal-10);
  --accent-11: var(--teal-11);
  --accent-12: var(--teal-12);

  --accent-a1: var(--teal-a1);
  --accent-a2: var(--teal-a2);
  --accent-a3: var(--teal-a3);
  --accent-a4: var(--teal-a4);
  --accent-a5: var(--teal-a5);
  --accent-a6: var(--teal-a6);
  --accent-a7: var(--teal-a7);
  --accent-a8: var(--teal-a8);
  --accent-a9: var(--teal-a9);
  --accent-a10: var(--teal-a10);
  --accent-a11: var(--teal-a11);
  --accent-a12: var(--teal-a12);

  --sidebar-active-link-text-color: var(--accent-12);
}

html.dark {
  --neutral-gray-1: var(--sage-1);
  --neutral-gray-2: var(--sage-2);
  --neutral-gray-3: var(--sage-3);
  --neutral-gray-4: var(--sage-4);
  --neutral-gray-5: var(--sage-5);
  --neutral-gray-6: var(--sage-6);
  --neutral-gray-7: var(--sage-7);
  --neutral-gray-8: var(--sage-8);
  --neutral-gray-9: var(--sage-9);
  --neutral-gray-10: var(--sage-10);
  --neutral-gray-11: var(--sage-11);
  --neutral-gray-12: var(--sage-12);

  --neutral-gray-a1: var(--sage-a1);
  --neutral-gray-a2: var(--sage-a2);
  --neutral-gray-a3: var(--sage-a3);
  --neutral-gray-a4: var(--sage-a4);
  --neutral-gray-a5: var(--sage-a5);
  --neutral-gray-a6: var(--sage-a6);
  --neutral-gray-a7: var(--sage-a7);
  --neutral-gray-a8: var(--sage-a8);
  --neutral-gray-a9: var(--sage-a9);
  --neutral-gray-a10: var(--sage-a10);
  --neutral-gray-a11: var(--sage-a11);
  --neutral-gray-a12: var(--sage-a12);

  --accent-1: var(--teal-1);
  --accent-2: var(--teal-2);
  --accent-3: var(--teal-3);
  --accent-4: var(--teal-4);
  --accent-5: var(--teal-5);
  --accent-6: var(--teal-6);
  --accent-7: var(--teal-7);
  --accent-8: var(--teal-8);
  --accent-9: var(--teal-9);
  --accent-10: var(--teal-10);
  --accent-11: var(--teal-11);
  --accent-12: var(--teal-12);

  --accent-a1: var(--teal-a1);
  --accent-a2: var(--teal-a2);
  --accent-a3: var(--teal-a3);
  --accent-a4: var(--teal-a4);
  --accent-a5: var(--teal-a5);
  --accent-a6: var(--teal-a6);
  --accent-a7: var(--teal-a7);
  --accent-a8: var(--teal-a8);
  --accent-a9: var(--teal-a9);
  --accent-a10: var(--teal-a10);
  --accent-a11: var(--teal-a11);
  --accent-a12: var(--teal-a12);
}

.dark_mode {
  display: none;
}
.dark .dark_mode {
  display: block;
}
.dark .light_mode {
  display: none;
}

.cards_grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}
