@import 'unpoly';
@import '@docsearch/css';

/* Gray colors */
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/mauve-alpha.css';
@import '@radix-ui/colors/mauve-dark.css';
@import '@radix-ui/colors/mauve-dark-alpha.css';

/* Accent colors */
@import '@radix-ui/colors/pink.css';
@import '@radix-ui/colors/pink-alpha.css';
@import '@radix-ui/colors/pink-dark.css';
@import '@radix-ui/colors/pink-dark-alpha.css';

/* Interface colors */
@import '@radix-ui/colors/orange-alpha.css';
@import '@radix-ui/colors/iris-alpha.css';
@import '@radix-ui/colors/orange-dark-alpha.css';
@import '@radix-ui/colors/iris-dark-alpha.css';

@import '@dimerapp/docs-theme/styles';

:root {
  --logo-width: 100px;
  --mobile-logo-width: 85px;
  --font-mono: "Roboto Mono";
}

:root {
  --note-icon-color: var(--pink-11);
  --code-bg-color: var(--pink-a3);
  --code-text-color: var(--pink-a12);
  --sidebar-active-link-bg-color: var(--pink-a6);
  --sidebar-active-link-text-color: var(--pink-12);
  --sidebar-loading-link-bg-color: var(--pink-a3);
  --aside-active-link-text-color: var(--pink-11);
  --pre-tabs-active-border-color: var(--pink-10);
  --code-highlight-border-color: var(--pink-10);

  --caption-info-bg-color: var(--pink-10);
  --caption-info-border-color: var(--pink-10);
}

html.dark {
  --note-icon-color: var(--pink-11);
  --code-bg-color: var(--pink-a3);
  --code-text-color: var(--pink-a12);
  --sidebar-active-link-text-color: var(--pink-12);
  --sidebar-active-link-bg-color: var(--pink-a5);
  --sidebar-loading-link-bg-color:var(--pink-a7);
  --aside-active-link-text-color: var(--pink-11);
  --pre-tabs-active-border-color: var(--pink-a10);
  --code-highlight-border-color: var(--pink-9);

  --caption-info-bg-color: var(--pink-a9);
  --caption-info-border-color: var(--pink-a9);
}

.sponsors_list .sponsor_item.logo_cleavr img {
  max-width: 150px;
  height: auto;
}

.sponsors_list .sponsor_item.logo_relancer svg {
  width: 150px;
}
