<div class="feature_highlight_description">
  <div>
    @include('elements/icons/asterisk')
  </div>

  <div>
    <p>
      <strong> Async/await </strong>
    </p>

    <p>
      You can also make use of async/await keywords within your templates.
    </p>
  </div>
</div>
