<div class="feature_highlight_description">
  <div>
    @include('elements/icons/asterisk')
  </div>

  <div>
    <p>
      <strong> Components </strong>
    </p>

    <p>
      Edge has components as well. They allow re-using markup with an isolated state.
    </p>
  </div>
</div>
