<div class="feature_highlight_description">
  <div>
    @include('elements/icons/asterisk')
  </div>

  <div>
    <p>
      <strong> Conditionals </strong>
    </p>

    <p>
      Writing conditionals is similar to JavaScript.
    </p>
  </div>
</div>
