<div class="feature_highlight_description">
  <div>
    @include('elements/icons/asterisk')
  </div>

  <div>
    <p><strong>Hello world</strong></p>
    <p>This is a hello world example in Edge.</p>
  </div>
</div>
