<div class="feature_highlight_description">
  <div>
    @include('elements/icons/asterisk')
  </div>

  <div>
    <p>
      <strong>JavaScript Expressions</strong>
    </p>

    <p>
      Edge is capable of evaluating any JavaScript expression.
    </p>
  </div>
</div>
