<div class="feature_highlight_description">
  <div>
    @include('elements/icons/asterisk')
  </div>

  <div>
    <p>
      <strong> Loops </strong>
    </p>

    <p>
      You can loop over Arrays and Objects using a unified syntax.
    </p>
  </div>
</div>
